ckd
bin
obj
CryptoKernel.depend
CryptoKernel.layout
accountsdb
utxodb
transactiondb
blockdb
docs
*.o
*.a
test
*.xml
*.log
CryptoCurrency
blockbuffer
addressesdb
*.so
peers
/.vscode/
test-ck
.project
.cproject
*.make
Makefile
Default/*
.cproject
.project
core
vgcore.*
